// example landing page

.landing {
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	min-height: 500px;
}

.landing__hero {
	@include flex(0 1 auto);
	font-size: 72px;
	line-height: 72px;
}