<!DOCTYPE html>
<html>

<head>
  <title>Skellington App</title>
  <meta name="viewport" content="initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="dist/site.css">

  <script src="dist/bundle.js"></script>
</head>

<body>

  <div ng-app="app">
    <div ng-controller="MainCtrl" ng-init="init()">
    	<div class="landing">
    		<div class="landing__hero">Greets, owner of {{title}}</div>
    	</div>
    </div>
  </div>

</body>

</html>
